---
layout: default
title: Kategorie
generator: [posts_category_index, pagination]
pagination:
    provider: page.category_posts

---

{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/kategorie/{{ page.category|url_encode(true) }}.xml" title="{{ site.title }} - kategoria '{{ page.category }}' - feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}{{ page.title }} "{{ page.category }}"{% endblock %}
{% block content %}
{% set year = '0' %}
<h1>{{ page.category }}</h1>
<div class="categories">
{% for post in page.pagination.items %}
{% set this_year %}{{ post.date | date("Y") }}{% endset %}
{% if year != this_year %}
  {% set month = '0' %}
  {% set year = this_year %}
{% endif %}
{% set this_month %}{{ post.date | date("m") }}{% endset %}
{% if month != this_month %}
  {% set month = this_month %}
  <h2 class="categories__archive-date">{{ month }}.{{ year }}</h2>
{% endif %}
<a href="{{ site.url }}{{ post.url }}" class="categories__link">
  {{ post.title }} &mdash; <small>{{ post.date | date("d.m.Y") }}</small>
</a>
{% endfor %}
</div>

{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="pagination">
    {% if page.pagination.previous_page %}
    <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Poprzednia strona">
      <span class="title">Poprzednia strona</span>
    </a>
    {% endif %}
    {% if page.pagination.next_page %}
    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Następna strona">
      <span class="title">Następna strona</span>
    </a>
    {% endif %}
    </nav>
{% endif %}

{% endblock content %}
