<!DOCTYPE html>
<html>
    <head>
        {% if page.title %}
        <title>{{ site.title }} &mdash; {% block title %}{{ page.title }}{% endblock %}</title>
        {% else %}
        <title>{{ site.title }}</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt|striptags }}">
        {% else %}
        <meta name="description" content="Blog o machine learningu, data science, statystyce i sztucznej inteligencji.">
        {% endif %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="DLoranc" />
        <meta name="twitter:creator" content="DLoranc" />
        <meta property="twitter:title" content="{{ page.title }} &mdash; {{ site.title }}" />
        {% if page.image %}
        <meta property="twitter:image" content="{{ site.url }}/images/posts_thumbnails/{{ page.image }}" />
        {% else %}
        <meta property="twitter:image" content="{{ site.url }}/images/avatar.jpg" />
        {% endif %}
        {% if page.excerpt %}
        <meta property="twitter:description" content="{{ page.excerpt|striptags }}" />
        {% else %}
        <meta property="twitter:description" content="Blog o machine learningu, data science, statystyce i sztucznej inteligencji." />
        {% endif %}
        <meta property="og:title" content="{{ page.title }} &mdash; {{ site.title }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:site_name" content="Dawid Loranc - blog o ML i AI"/>
        <meta property="og:locale" content="pl_PL" />
        {% if page.image %}
        <meta property="og:image" content="{{ site.url }}/images/posts_thumbnails/{{ page.image }}" />
        {% else %}
        <meta property="og:image" content="{{ site.url }}/images/blog_thumbnail.png" />
        {% endif %}
        {% if page.excerpt %}
        <meta property="og:description" content="{{ page.excerpt|striptags }}" />
        {% else %}
        <meta property="og:description" content="Blog o machine learningu, data science, statystyce i sztucznej inteligencji." />
        {% endif %}
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="apple-touch-startup-image" href="{{ site.url }}/images/icons/2048x2048.jpg">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="76x76" href="{{ site.url }}/images/icons/76x76.jpg">
        <link rel="shortcut icon" sizes="120x120" href="{{ site.url }}/images/icons/120x120.jpg">
        <link rel="shortcut icon" sizes="128x128" href="{{ site.url }}/images/icons/128x128.jpg">
        <link rel="shortcut icon" sizes="152x152" href="{{ site.url }}/images/icons/152x152.jpg">
        <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/images/icons/196x196.jpg">
        <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}/images/icons/512x512.jpg">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/images/icons/76x76.jpg">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/images/icons/120x120.jpg">
        <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}/images/icons/128x128.jpg">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/images/icons/152x152.jpg">
        <link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}/images/icons/196x196.jpg">
        <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}/images/icons/512x512.jpg">
        <link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}/images/icons/1024x1024.jpg">
        <link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}/images/icons/2048x2048.jpg">

        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/darcula.css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} - Kanał RSS" />
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <header class="header container">
            <a class="header__title" href="{{ site.url }}/">{{ site.title }}</a>
            <small class="header__subtitle">{{ site.subtitle }}</small>

            <div class="row-fluid">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container-fluid">
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    Menu
                                </a>

                                <div class="nav-collapse collapse">
                                    <ul class="nav">
                                        <li>
                                            <a href="{{ site.url }}/"
                                            {% if page.url == '/' or page.url == '/.' %}class="current"{% endif %}>Strona główna</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.url }}/archiwum-postow"
                                            {% if page.url == '/archiwum-postow' %}class="current"{% endif %}>Archiwum postów</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.url }}/blog/kategorie"
                                            {% if page.url == '/blog\\kategorie' %}class="current"{% endif %}>Kategorie</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.url }}/blog/tagi"
                                            {% if page.url == '/blog\\tagi' %}class="current"{% endif %}>Tagi</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.url }}/o-mnie"
                                            {% if page.url == '/o-mnie' %}class="current"{% endif %}>O mnie</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.url }}/polityka-prywatnosci"
                                            {% if page.url == '/polityka-prywatnosci' %}class="current"{% endif %}>Polityka prywatności</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content container">
            <div class="row-fluid">
                <div class="span12">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
        <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.min.js"></script>

        <script>hljs.initHighlightingOnLoad();</script>

        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
