article header h1 {
    margin-bottom: .2em;
}

article header h1 a:hover {
    text-decoration: none;
}

article header .date {
    font-weight: 300;
    color: #9a9a9a;
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 22px;
}