.posts-archive {
    @extend .wrapper;
}

.archive-date {
    font-size: 35px;
    color: #444;
    font-weight: 400;
    margin-top: .7em;
    padding-bottom: .3em;
    margin-bottom: .6em;
    border-bottom: 1px solid #ddd;
    line-height: 1;
}

.archive__link {
    display: block;
    padding: .5em 0;

    &:hover {
        text-decoration: none;
    }
}
