.post-header__title {
    margin-bottom: 0;
}

.post-header__title-anchor:hover {
    text-decoration: none;
}

.post-header__date {
    font-weight: 300;
    color: #9a9a9a;
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 22px;
}