.post-header__title {
    margin-bottom: 0;
}

.post-header__title-anchor:hover {
    text-decoration: none;
}

.post-header__date {
    font-weight: 300;
    color: #9a9a9a;
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 22px;
}

.post-content {
    padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #f0f0f0;
}

.post-categories {
	font-size: .8em;
}

.post-tags {
	font-size: .8em;
}