---
layout: default
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
{% for post in page.pagination.items %}
    <article class="post">
        <header class="post-header">
            <h1 class="post-header__title">
                <a href="{{ site.url }}{{ post.url }}" class="post-header__title-anchor">{{ post.title }}</a>
            </h1>
            <h4 class="post-header__date">{{ post.date | date('d.m.Y') }}</h4>
            {% if post.meta.image %}
            <a href="{{ site.url }}{{ post.url }}">
                <img src="{{ site.url }}/images/posts_thumbnails/{{ post.meta.image }}" alt="{{ post.title }}" class="post-header__thumbnail"/>
            </a>
            {% endif %}
        </header>
        <div class="post-content">
            {% if post.meta.excerpt %}
                {{ post.meta.excerpt|raw }}
            {% else %}
                {{ post.blocks.content|raw }}
            {% endif %}
        </div>
        {% if post.meta.categories %}
            <p class="post-categories">
            Kategorie:
            {% for category in post.meta.categories %}
            <a href="{{ site.url }}/blog/kategorie/{{ category|url_encode(true) }}" class="post-categories__item">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if post.meta.tags %}
            <p class="post-tags">
            Tagi:
            {% for tag in post.meta.tags %}
            <a href="{{ site.url }}/blog/tagi/{{ tag|url_encode(true) }}" class="post-tags__item">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
    </article>
{% endfor %}

{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="pagination">
        <ul>
            {% if page.pagination.previous_page %}
                <li class="pagination__next">
                    <a class="pagination__next-anchor" href="{{ site.url }}{{ page.pagination.previous_page.url }}">
                        <span class="pagination__title">Nowsze posty</span>
                    </a>
                </li>
            {% endif %}
            {% if page.pagination.next_page %}
                <li class="pagination__previous">
                    <a class="pagination__previous-anchor" href="{{ site.url }}{{ page.pagination.next_page.url }}">
                        <span class="pagination__title">Starsze posty</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}