---
layout: default
title: Strona główna
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
{% for post in page.pagination.items %}
    <article class="post">
        <header class="post-header">
            <h1 class="post-header__title">
                <a href="{{ site.url }}{{ post.url }}" class="post-header__title-anchor">{{ post.title }}</a>
            </h1>
            <h4 class="post-header__date">{{ post.date | date('d.m.Y') }}</h4>
        </header>
        <div class="post-content">
            {{ post.blocks.content|raw }}
        </div>
        {% if post.meta.categories %}
            <p class="categories">
            Kategorie:
            {% for category in post.meta.categories %}
            <a href="{{ site.url }}/blog/kategorie/{{ category|url_encode(true) }}" class="categories__category-item">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if post.meta.tags %}
            <p class="tags">
            Tagi:
            {% for tag in post.meta.tags %}
            <a href="{{ site.url }}/blog/tagi/{{ tag|url_encode(true) }}" class="tags__tag-item">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Nowsze posty</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Starsze posty</a>{% endif %}<br />
    </nav>
{% endif %}
